# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user
.Rproj.user/
.Rproj.user/**

# User-specific files
.Ruserdata

# Session Data files
.RData
.RDataTmp

# C++ files
src/*.o
src/*.so
src/*.dll

# macOS files
.DS_Store
**/.DS_Store

# Old filter
old/
old/**
**/_old/
**/_old/**

# Test folder
test/
test/**

# Sandbox folder
sandbox/
sandbox/**

# Backup files
*.RDS
rds/*
!rds/.gitkeep

# Documentation html files
*.html

# Extended report of the results
*_extended.csv